<h2>Users</h2>

<% @users.each do |user|%>
<ul>

<%= link_to user.name, user_path(user)%>
</ul>
<% end %>

<%= link_to "All Countries", countries_path%><br>
<%= link_to "Sign Up Here", new_user_path%>
