<h2>Countries</h2>

<% @countries.each do |country|%>
<ul>

<li><%= link_to country, country_path(country)%></li>
</ul>
<% end %>

<%= link_to "All Users", users_path %><br>
<%= link_to "All Aid Organizations", aid_organizations_path %>
